---
---

@import "minima";

* {
  word-break: keep-all;
  line-height: 1.5;
}

.trigger {
  line-height: 54px;
}

code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.post-list {
  h2 {
    margin-bottom: 0;
    .post-link {
      color: black;
      font-weight: 400;
      font-size: 20px;
      &:hover {
        color: black;
        text-decoration: underline;
      }
      &:visited {
        color: black;
      }
    }
    
  }
}

.post-title {
  color: black;
  font-weight: 400;
  line-height: 1.25;
}
